body{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.sidebar {
    display: flex;
    height: 6vh;
    width: 100%;
    background-color: #333;
    position:fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.3s, left 0.3s;


}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background-color 0.3s, color 0.3s;
	font-family: Arial, Helvetica, sans-serif;
    margin-top: -12px;
}

.sidebar a:hover {
    background-color: #575757;
    color: white;
}

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    transition: margin-left 0.3s;
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: sans-serif;
	max-width:
}
.wrapper{
	margin: 150px auto;
	width: 70%;
}
img{
	max-width: 350px;
	float: right;
	border: 3px solid;
	border-radius: 10px;
	margin-left: 25px;
	background-size:contain ;

}
.m2{
	max-width: 350px;
	float: left;

	background-size:contain ;

}
.text{

	font-family: sans-serif;

}
.text h1{
	font-size: 48px;

}
.text h2{
	font-size: 28px;

}
.text p{
	font-size: 16px;
}
.title h1{

	text-align: center;
	padding-top: 50px;
	font-size: 42px;
	font-family: sans-serif;
}
.title h1::after{
	content: "";
	height: 3px;
	width: 245px;
	background-color: #fff;
	display: block;
	margin: auto;
}
#read{
	background: #ac0808;
	display: inline-block;
	margin-top: 12px;
	margin-left: 12px;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: 0.5s ease;
	border-radius: 3px;
}
#read a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
#read:hover{
	background-color:#0a1423;
	transform: scale(1.1);
	border-radius: 3px;
}
.icons{
	display: flex;
}
.icons img{
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin-top: 20px;
	transition: 0.5s ease;
	border: black;
}
.icons img:hover{
	transform: scale(1.3);

}
.icons a:hover{
	height: 0;
	text-decoration: none;
}
.ul{
	line-height: 50px;
	list-style-type: none;
}
#serv{
	min-height: 100vh;
}
.services{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto;
	text-align: center;
}
.card{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 0px 20px;
	padding: 20px 20px;
	border: solid black;
	border-radius: 10px;
	cursor: pointer;
}
.card:hover{
	background-color: #b8d4de;
	transition: 0.4;

}
.card p{
	font-size: 17px;
	margin-top: 30px;
	line-height: 1.5;

}
.card h2{
	font-size: 28px;
	color: #c94f4f;
	margin-bottom: 20px;
}
#s-a{
	min-height: 100vh;
	padding-bottom: -30px;
}
#skill h1{
	text-align: center;
}
#skill h3{
	margin: 5px;
}
#skill{
	text-transform: uppercase;
	width: 500px;
	margin: 60px auto;
	padding: 20px;
	border: solid #666 1px;
	border-radius: 5px;
}
#skill li{
	margin: 20px 0;
	padding: 10px;
}
.bar,
.bar1,
.bar2,
.bar3,
.bar4,
.bar5{

	display: block;
	height: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5%;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar,
.bar1,
.bar2,
.bar3,
.bar4,
.bar5:hover{
	box-shadow: 0 14px 28px rgba(229, 224, 220, 0.25), 0 10px 10px rgba(225, 218, 218, 0.22);

}
.bar span{
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}
.bar1 span{
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgb(143, 239, 70)0%, rgb(187, 229, 48)100%);
}
.bar2 span{
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgb(19, 196, 219)0%, rgb(86, 148, 234)100%);
}
.bar3 span{
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgb(85, 237, 181)0%, rgb(11, 233, 173)100%);
}
.bar4 span{
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgb(221, 230, 48)0%, rgba(230, 241, 12, 0.812)100%);
}
.bar5 span{
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgba(50, 93, 152, 0.718)0%, rgb(3, 156, 156)100%);
}
.html{
	width: 100%;
	animation: html 3s;
}
.css{
	width:98%;
	animation: css 3s;
}
.gd{
	width: 85%;
	animation: gd 3s;
}
.js{
	width: 80%;
	animation: js 3s;
}

.python{
	width: 70%;
	animation: pyhton 3s;
}
.photo{
	width: 80%;
	animation: photo 3s;
}
#m-box{
	padding: 20px 9%;
	padding-bottom: 100px;
}
#m-box .hdr{
	text-align: center;
	padding-bottom: 20px;
	font-size: 42px;
}
#m-box .box-c{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(270px, 1fr));
	gap: 20px;
}
#m-box .box-c .box{
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	border-radius: 5px;
	text-align: center;
	padding: 30px 20px;
}
#m-box .box-c .box h3{
	font-size: 22px;
	padding: 10px 0;
}
#m-box .box-c .box p{
	font-size: 15px;
	line-height: 1.8;
}
#m-box .box-c .box:hover{
	box-shadow: 0 10px 15px rgba(0,0,0,.3);
	transform: scale(1.1);
}
#project{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}
.g-wrp{
	width: 80%;
	padding: 30px 0;
	font-size: 15px;
    text-align: center;
	color: #212b3b;
}
.g-head{
	padding-top: 40px;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.g-bx img{
border: none;
	float: none;
	border-radius: 0;
	width: 100%;
	height: auto;
	object-fit: contain;
	position: relative;
	top: 4px;

}
.gt-cnt{
	padding: 10%;
}
.gt-cnt h2{
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.gt-cnt p{
	line-height: 1.5;
}
.m-cnt{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-row-gap:25px;
	grid-column-gap:25px ;
}
.m-cnt .g-bx{
	position:relative;
	cursor: pointer;
	margin-bottom: 15px;
	box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
	height: 250px;
	overflow: hidden;
}
.m-cnt .g-bx::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	transition: all 0.5s ease-in-out;
}
.m-cnt .g-bx:hover::before{
	top: 0;
	right: calc(100% - 5px);
	z-index: 8;
}
.m-cnt .g-bx img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.m-cnt .g-bx .g-txt{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.9);
	width: 100%;
	height: 100%;
	top: 0;
	right: 100%;
	transition: all 0.5s ease-in-out;
}
.m-cnt .g-bx:hover .g-txt{
	top: 0;
	right: 0;
}
#contact{
	min-height: 100vh;
	padding:50px;
	text-align: center;
	padding-left: 25%;
	margin-top: -75px;

}
.contnr{
	max-width: 800px;
	margin-bottom:0 auto;
}
.contnr h2{
	font-size: 46px;
	margin-bottom: 40px;
}
.cntct-wrpr{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:30px;
}
.cntct-form{
	text-align: left;
}
.cntct-form h3{
	font-size: 27px;
	margin-bottom: 20px;
}
.form-grp{
	margin-bottom: 20px;
}
input, textarea{
	width: 100%;
	padding: 12px;
	border-radius: 8px;
	border: none;
	background-color: #f8f9fa;
	color: #fff;
}
input:focus,
textarea:focus{
	outline: none;
	box-shadow: 0 0 8px #bbb;

}
button{
	display: inline-block;
	padding: 12px 24px;
	background-color: #2779bd;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: 0.3s ease;
	border-radius: 3px;
}
button:hover{
	background-color:#212b3b;
	transform: scale(1.1);
	border-radius: 3px;
}
.contact-info{
	font-size: 20px;
	text-align: left;
}
.contact-info h3{
	font-size: 27px;
	margin-bottom: 20px;
	color: #fff;
}
.contact-info p{
	margin-bottom: 10px;

}
.contact-info i{
	color: #4caf50;
	margin-right: 10px;
}
.go-up{
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 22px;
	line-height: 50px;
	border-radius: 5px;

}
.b-up .go-up, a:hover{
	background: #354867;
	color: white;
}
.glry-crd img{
	float: none;
	border: none;
	border-radius: 0;
	width: 100%;
	height: auto;
	object-fit: contain;

}
.glry-cont{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 100px;
	padding-bottom: 30px;
	}
.glry-crd{
	width: 280px;
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	margin: 20px;
	object-fit: contain;
}
.glry-c-cnt{
	padding: 16px;
}
.glry-c-cnt p{
	font-size: 20px;
	line-height: 1.3;
}
h4{
	text-align: center;
padding-top: 80px;
	font-size: 45px;
}
footer {
    background-color: azure;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
	height: 100px;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding:  20px;
}

.footer-content p {
    margin: 0;
    font-size: 20px;
}

@keyframes pulse{
	0%, 100%{transform: scale(1);}
	50%{
		transform: scale(1.2);
	}
}
@keyframes html{
	0%{
		width: 0%;

	}
	100%{
		width: 100%;

	}
}
@keyframes css{
	0%{
		width: 0%;

	}
	100%{
		width: 98%;

	}
}
@keyframes gd{
	0%{
		width: 0%;

	}
	100%{
		width: 85%;

	}
}
@keyframes js{
	0%{
		width: 0%;

	}
	100%{
		width: 80%;

	}
}
@keyframes python{
	0%{
		width: 0%;

	}
	100%{
		width: 70%;
	}
}
@keyframes photo{
	0%{
		width: 0%;

	}
	100%{
		width: 80%;
	}
}

@media (max-width: 858px){
	.checkbtn{
		display: block;
	}


	a:hover,a.active{
		background: none;
		color: #0082e6;
	}
	#check:checked ~ ul{
		left: 0;
	}


}
@media screen and (max-width: 940px) {
	.services{
		display: flex;
		flex-direction: column;
	}
	.card{
		width: 85%;
		display: flex;
		margin: 20px 0px;
	}
}
@media screen and (max-width: 768px){
	.contnr{
		padding: 20px;
	}
	.cntct-wrpr{
		grid-template-columns: repeat(2, 1fr);
	}
	.contact-info p{
		font-size: 15px;
	}
}
@media (max-width:768px) {
	.m-box{
		padding: 20px;
	}

}
@media screen and (max-width: 600px) {
    footer {
        padding: 20px 0;
    }
    p {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: list-item;
        width: 250px;
        left: -250px;
    }
    .sidebar a{
        font-size: 15px;
        margin-left: 50px;
    }
    .sidebar a.active {
        background-color:#2f434a;
        color: white;
    }
    .content {
        margin-left: 0;
    }
    .hamburger {
        display: block;
    }
    .sidebar.active {
        left: 0;
    }
}
